@using MvcToDos.Models
@model Teendo
@{
    var allapotid = "Teendo_" + Model.Id;
}

<span class="Szoveg">@Model.Szoveg</span>
<span class="Muveletek">
    <span class="Edit">
        @Ajax.ActionLink(Model.Allapot ? "Nem kész" : "Kész", "Edit", new { id = Model.Id, allapot = !Model.Allapot }, new AjaxOptions()
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = allapotid,
            OnSuccess = "Home.onEditSucces("+allapotid+")"
        })
    </span>
    <span class="Delete">
        @Ajax.ActionLink("Törlés", "Delete", new { id = Model.Id }, new AjaxOptions()
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "IndexLista"
        })
    </span>
</span>
