@using MvcToDos.Models
@model TeendokListaja
@{
    ViewBag.Title = "Index";
}

<h1>Teendők</h1>
<div class="Types">
    <label><input type="radio" name="Type" checked value="teendo" id="Radio-Teendo"/><span>Teendő</span></label>
    <label><input type="radio" name="Type" value="teendolista" id="Radio-Teendolista"/><span>Teendőlista</span></label>
</div>
<div id="Create">
    <div id="Create-Teendo">
        @Html.Partial("CreateTeendo", new Teendo())
    </div>
    <div id="Create-Teendolista">
        @Html.Partial("CreateTeendolista", new TeendoLista())
    </div>
</div>
<div id="IndexLista">
    @Html.Partial("IndexLista", Model.Teendok)
</div>
<script>
    Create.onInit();
</script>