@using MvcToDos.Models
@model IEnumerable<TeendoBase>


<ul>

@foreach (var item in Model.OrderByDescending(teendo => teendo.Letrehozas))
{
    var allapotid = "Teendo_" + item.Id;
    if (item.Allapot)
    {
        <li id="@allapotid" class="Kesz">
            @Html.Partial("IndexListaElem", item)
        </li>
    }
    else
    {
        <li id="@allapotid">
            @Html.Partial("IndexListaElem", item)
        </li>
    }
}

</ul>
