body {
    background-color: rgb(159, 217, 161);
    padding:0 0.2em;
}
h1{
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 0;
}

.Muveletek a, input[type="submit"] {
    border: .01em solid rgb(248, 246, 246);
    display: inline-block;
    padding: .3em;
    text-decoration: none;
    background-color: rgb(49, 172, 125);
    color:azure;
}

.Muveletek a:hover, input[type="submit"]:hover{
        background-color: rgb(100, 206, 166);
    }

li {
    display: block;
    border: .01em solid rgb(248, 246, 246);
    margin: .5em 0 0 0;
    padding: 0.5em;
    background-color: rgb(89, 141, 90);
    position: relative;
}

.Kesz .Szoveg {
    text-decoration: line-through;
}
.Kesz {
    background-color: rgba(89, 141, 90, 0.5);
}
.Kesz .Muveletek a{
    background-color: rgba(49, 172, 125, 0.5);
}

.Kesz .Muveletek a:hover{
    background-color: rgba(100, 206, 166, 0.5);
}

.Muveletek {
    display: block;
    position: absolute;
    right: 0.4em;
    top: 0.4em;
}


.Szoveg {
    display: block;
    margin-right: 9em;
    min-height: 5.6em;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#IndexLista {
    overflow-y: auto;
    height: 38em;
}

fieldset {
    position: relative;
    padding: 0;
    border: 1px solid rgb(248, 246, 246);
    background-color: rgb(42, 105, 81);
}

.editor-field {
    padding-right: 6.7em;
    padding-left: 0.4em;
}

input {
    width: 100%;
}
.Uzenet {
    padding: 0.4em;
}

.Hatarido {
    display: inline-block;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    }

.Hatarido .DatumValaszto {
    width: 10em;
}

.Hatarido label, .Fontossag label, .Szinkod label {
    color: rgb(70, 255, 10);
}

.Fontossag {
    margin-left: 1em;
}
.Fontossag label.Fontossag, .Fontossag{
    display: inline-block;
}

.Fontossag label.Fontossag input{
    display: inline-block;
    width: 0;
}

.Fontossag label.Fontossag input + span{
    display: inline-block;
    padding: 0.3em;
    border: 1px solid white;
}

.Fontossag label.Alacsony input + span{
    background-color: green;
}

.Fontossag label.Normal input + span{
    background-color: yellow;
}

.Fontossag label.Magas input + span{
    background-color: orangered;
}

.Fontossag label.Fontossag input:checked + span{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 150, 0);
    font-weight: bold;
}
.Radio {
    display: inline-block;
    vertical-align: top;
    margin: 0.2em 0;
}

.Szinkod {
    display: inline-block;
    margin-left: 1em;
}

.Szinkod input {
    width: 3em;
    vertical-align: top;
    margin-top: 0.4em;
}
.Szinkod label {
    display: inline-block;
}

.Adatok .Szinkod .Adat {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: top;
}

@media (max-width: 305px) {
    .Fontossag .Radio {
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }

    .Fontossag label.Fontossag {
        width: 100%;
        margin: 0.2em 0;
    }

    .Fontossag label.Alacsony {
        margin: 0 0 0.2em 0;
    }
}